<!DOCTYPE html>
<html>
  <head>
    <title>División de la página en dos partes</title>
    <meta charset="UTF-8">

  </head>
  <body>
    <div class="left">
      <p>Aquí se guarda la información básica de las sucursales, junto con que libros tiene disponible</p>
    </div>
    <div class="right">
      <h2>Completa la información de la sucursal</h2>
      <form (formGroup)="sucursalForm">
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" formControlName = "direccion">
        <div *ngIf="direccion.invalid">
        <p *ngIf="direccion.errors.required" style="font-size: small; color: red">campo obligatorio</p>
        </div>
       

        <label for="localida  d">Localidad:</label>
        <input type="text" id="localidad" name="localidad" formControlName = "localidad">
        <div *ngiF="localidad.invalid">

        <p *ngIf="localidad.errors.required" style="font-size: small; color: red">campo obligatorio</p>

        </div>  
   

        <label for="items">Items:</label>
        <input type="number" id="items" name="items" formControlName = "items">
        <div *ngIf="items.invalid">

        <p *ngIf="items.errors.required" style="font-size: small; color: red">campo obligatorio</p>
        </div>
        <button type="submit" (click)="addSucursal()">Enviar</button>
      </form>
    </div>

  
  </body>
</html>

