<!DOCTYPE html>
<html>
  <head>
    <title>División de la página en dos partes</title>
    <meta charset="UTF-8">

  </head>
  <body>
    <div class="left">
      <p>Aquí se guarda la información básica de las sucursales, junto con que libros tiene disponible</p>
    </div>
    <div class="right">
      <h2>Completa la información de la sucursal</h2>
      <form [formGroup]="sucursalForm">
        <tr>
          <div class ="direccion">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" formControlName = "direccion">
            <div *ngIf="direccion.invalid">
              <p *ngIf="direccion.errors.required" style="font-size: small; color: red">campo obligatorio</p>
            </div>
          </div>
          <div class ="localidad">

            <label for="localidad">Localidad:</label>
            <input type="text" id="localidad" name="localidad" formControlName = "localidad">
            <div *ngiF="localidad.invalid">

            <p *ngIf="localidad.errors.required" style="font-size: small; color: red">campo obligatorio</p>
            </div>

          </div>  
    
          <div class = "items">
            <label for="items">Items:</label>
            <input type="number" id="id_item" name="id_item" formControlName = "id_item">
            <div *ngIf="id_item.invalid">
            <p *ngIf="id_item.errors.required" style="font-size: small; color: red">campo obligatorio</p>
            </div>
          </div>
          <button type="submit" (click)="addItem()">Agregar Item</button>

          <button type="submit" (click)="addSucursal()">Enviar</button>
      </tr>
      </form>
    </div>

  
  </body>
</html>

