<!DOCTYPE html>
<html>
<head>
  <title>División de Body con Tabla Vacía</title>
  <link rel="stylesheet" href="view-sucursal.component.css">
</head>
<body>
  <div class="top">
    <div class="left">
      <button>Ver Todos</button>
    </div>
   
    <div class="right">
      <input type="text" placeholder="Buscar por ID">
      <button>Buscar</button>
      <button>Ver Disponibilidad</button>
    </div>
  </div>
  <div class="bottom">
    <table>
      <thead>
        <tr>
          <th>ID Sucursal</th>
          <th>Dirección</th>
          <th>Localidad</th> 
          <th>Ver Libros</th>       
          <th>Actualizar</th>
          <th>Borrar</th>
        </tr>
      </thead>
      
        <tbody>
          <tr *ngFor="let sucursal of sucursalList">
            <td>{{sucursal.idSucursal}}</td>

            <td>{{sucursal.direccion}}</td>
            <td>{{sucursal.localidad}}</td>   

            <td><button type="button" class="btn btn-primary"  (click)="openLibros(libros,sucursal.idSucursal)">
              Ver
            </button></td>
            <td><button type="button" class="btn btn-primary"  (click)="openModal(content,sucursal.idSucursal)">
              Actualizar
            </button></td>
            
            <td><button (click)="delete(sucursal.idSucursal)">Borrar</button></td>            
         
          </tr>
        <!-- Aquí se insertarán los datos de la tabla -->
      </tbody>
      
    </table>
  </div>
  <tfoot>
    <tr>
      <td>       

    </tr>
  </tfoot>


  <ng-template #libros let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Ver Libros</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Autor</th>
          <th>Precio</th> 
          
        </tr>
      </thead>
      
        <tbody>
           <tr *ngFor="let libro of libroList">
            <td>{{libro.titulo}}</td>
            <td>{{libro.autor}}</td>
            <td>{{libro.precio}}</td>


            
         

          </tr>
        <!-- Aquí se insertarán los datos de la tabla -->
      </tbody>
      
    </table>
    <button type="button" class="btn btn-light" (click)= update()>Actualizar</button> 

    <!--<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> !-->
  </ng-template>



  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Actualizar Sucursal</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="right">
      <h2>Completa la información de la sucursal</h2>
      <form [formGroup]="sucursalForm">
        <tr>
          <div class ="direccion2">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion2" name="direccion2" formControlName = "direccion">
            <div *ngIf="direccion.invalid">
              <p *ngIf="direccion.errors.required" style="font-size: small; color: red">campo obligatorio</p>
            </div>
          </div>
          <div class ="localidad">

            <label for="localidad2">Localidad:</label>
            <input type="text" id="localidad2" name="localidad2" formControlName = "localidad">
            <div *ngiF="localidad.invalid">

            <p *ngIf="localidad.errors.required" style="font-size: small; color: red">campo obligatorio</p>
            </div>

          </div>  
    
          <div class = "items2">
            <label for="items2">Items:</label>
            <input type="number" id="id_item2" name="id_item2" formControlName = "id_item">
            <div *ngIf="id_item.invalid">
            <p *ngIf="id_item.errors.required" style="font-size: small; color: red">campo obligatorio</p>
            </div>
          </div>
          <button type="submit" (click)="addItem()">Agregar Item</button>

          <button type="submit" (click)="update()">Enviar</button>
      </tr>
      </form>
    </div>
    <div class="modal-footer">

    <!--<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> !-->
    </div>    
  </ng-template>
</body>
</html>

