<!DOCTYPE html>
<html>
<head>
  <title>División de Body con Tabla Vacía</title>
  <link rel="stylesheet" href="view-sucursal.component.css">
</head>
<body>
  <div class="top">
    <div class="left">
      <button>Ver Todos</button>
    </div>
   
    <div class="right">
      <input type="text" placeholder="Buscar por ID">
      <button>Buscar</button>
      <button>Ver Disponibilidad</button>
    </div>
  </div>
  <div class="bottom">
    <table>
      <thead>
        <tr>
          <th>Dirección</th>
          <th>Sucursal</th>
          <th>Item</th>
          <th>Columna 9 Borrar</th>

        </tr>
      </thead>
      <tbody>
        <!-- Aquí se insertarán los datos de la tabla -->
      </tbody>
    </table>
  </div>
</body>
</html>
