

<!DOCTYPE html>
<html>
<head>
  <title>División de Body con Tabla Vacía</title>
  <link rel="stylesheet" href="view-item.component.css">
</head>
<body>
  <div class="top">
    <div class="left">
      <button>Ver Todos</button>
    </div>
   
    <div class="right">
      <input type="text" placeholder="Buscar por ID">
      <button>Buscar</button>
      <button>Ver Disponibilidad</button>
    </div>
  </div>
  <div class="bottom">
    <table>
      <thead>
        <tr>
          <th>ID</th>

          <th>Precio</th>
          <th>ISBN</th>
          <th>Titulo</th>
          <th>Autor</th>
          <th>Area</th>
          <th>Numero de edición</th>
          <th>Cantidad de páginas</th>          
          <th>Editorial</th>
          <th>Ver</th>
          <th>Borrar</th>          
          

        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of itemList">
            <td>{{item.id_item}}</td>
            <td>{{item.precio}}</td>
          
            <td>{{item.libro.isbn}}</td>
            <td>{{item.libro.titulo}}</td>
            <td>{{item.libro.autor}}</td>
            <td>{{item.libro.area}}</td>
            <td>{{item.libro.numeroEdicion}}</td>
            <td>{{item.libro.cantidadPaginas}}</td>
            <td>{{item.libro.editorial}}</td> 
            <td><button (click)="abrirModal(content,item)">Actualizar</button></td>
            <td><button (click)="delete(item.id_item)">Borrar</button></td>            
         
          </tr>
        <!-- Aquí se insertarán los datos de la tabla -->
      </tbody>
    </table>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Actualizar Item</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form>
      <tfoot>
      <tr>

      <label for="isbn">ISBN:</label>
      <input type = "text" id = "isbn" name="isbn" [(ngModel)]="isbn">
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo">
      <label for="autor">Autor:</label>
      <input type="text" id="autor" name="autor" [(ngModel)]="autor">
      <label for="area">Área:</label>
      <input type="text" id="area" name="area" [(ngModel)]="area">
      <label for="edicion">Número de edición:</label>
      <input type="text" id="edicion" name="edicion" [(ngModel)]="numeroEdicion">
      <label for="paginas">Cantidad de páginas:</label>
      <input type="text" id="paginas" name="paginas" [(ngModel)]="paginas">
      <label for="editorial">Editorial:</label>
      <input type="text" id="editorial" name="editorial" [(ngModel)]="editorial">
      <label for="editorial">Precio:</label>
      <input type="text" id="precio" name="precio" [(ngModel)]="precio">
      
    </tr>

      </tfoot>
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)=updateItem()>Actualizar</button> 
  

    <!--<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> !-->
    </div>
  </ng-template>

  
  <div class="modal" *ngIf="modalSwitch == true" >
   
    <h2>Completa la información del libro</h2>

  </div>

  

 
</body>
</html>

