<!DOCTYPE html>
<html>
  <head>
    <title>Gestión de cadenas de librerías</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main-page.component.css"> 
  </head>
  <body>
    <h1>Gestión de cadenas de librerías</h1>
    <p>Bienvenido a nuestra página de gestión de cadenas de librerías. Aquí podrás actualizar, ver, actualizar y borrar items que contienen información de los libros y su precio, además de agregar sucursales y su respectivo stock.</p>
    <p>Esperamos que esta herramienta sea de gran ayuda para tu negocio. Te recordamos que tanto el código en el front como en el backend puede ser utilizado como ejemplo para hacer mejoras o modificarlo completamente.</p>

    <div style="text-align: center;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLmw6HMNzdpJEQQ-51nbnSyQgnVxYq9n0uXjLC-PtnBW04FEGCs1IyXNJapCNICG30ZZ0&usqp=CAU" alt="Ejemplo de libreria" />

    </div>
  </body>
</html>