body {
  background-color: #f2f2f2;
  margin: auto 10px;
  width: auto;
  height: 2000px;

}
h1 {
  color: #333;
  text-align: center;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin: 20px auto;
  max-width: 600px;
  text-align: justify;
}
.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background-color: #3e8e41;
}
