<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Librería</title>
    <link rel="stylesheet" href="header.component.css">

</head>
<body>
	<header>
		<div class="title">Librería</div>
		<div class="icon"></div>
		<div style="display: flex; align-items: center; margin-left: auto;">
			<div class="dropdown">
				<button class="btn">Item</button>
				<div class="dropdown-content">
					<div class="dropdown-option">Agregar</div>
					<div class="dropdown-option">Actualizar</div>
					<div class="dropdown-option">Borrar</div>
					<div class="dropdown-option">Ver</div>
				</div>
			</div>
			<div class="dropdown">
				<button class="btn">Sucursal</button>
				<div class="dropdown-content">
					<div class="dropdown-option">Agregar</div>
					<div class="dropdown-option">Actualizar</div>
					<div class="dropdown-option">Borrar</div>
					<div class="dropdown-option">Ver</div>
				</div>
			</div>
		</div>
	</header>
</body>
</html>
